.mdui-card {
    width: 400px;
    height: 300px;
  }

  a:link {
    color: 	blue;
    text-decoration: none;
  }

  a:visited {
    color: 	blue;
    text-decoration: none;
  }

  a:hover {
    color: 	blue;
    text-decoration: none;
  }

  a:active {
    color: 	blue;
    text-decoration: none;
  }
.card{
  text-align: center;
}
.c1 {
  float: left;
  margin: 16px;
  padding: 15px;
  width: 350px;
  height: 300px;
  } 